<%= form_for(ssh_credential) do |f| %>
  <% if ssh_credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ssh_credential.errors.count, "error") %> prohibited this ssh_credential from being saved:</h2>

      <ul>
      <% ssh_credential.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% render 'ssh_credentials/fields', :f => f %>
  
  <p class="actions">
    <%= f.submit %>
    <%= f.hidden_field :machine_id %>
  </p>
<% end %>
