<h1>Listing ssh_credentials</h1>

<table>
  <tr>
    <th>Machine</th>
    <th>Username</th>
    <th>Password</th>
    <th>Key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ssh_credentials.each do |ssh_credential| %>
  <tr>
    <td><%= ssh_credential.machine_id %></td>
    <td><%= ssh_credential.username %></td>
    <td><%= ssh_credential.password %></td>
    <td><%= ssh_credential.key %></td>
    <td><%= link_to 'Show', ssh_credential %></td>
    <td><%= link_to 'Edit', edit_ssh_credential_path(ssh_credential) %></td>
    <td><%= link_to 'Destroy', ssh_credential, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ssh credential', new_ssh_credential_path %>
