<%= form_for(@kernel_info) do |f| %>
  <% if @kernel_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kernel_info.errors.count, "error") %> prohibited this kernel_info from being saved:</h2>

      <ul>
      <% @kernel_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :release %><br />
    <%= f.text_field :release %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :architecture %><br />
    <%= f.text_field :architecture %>
  </div>
  <div class="field">
    <%= f.label :os %><br />
    <%= f.text_field :os %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
