<%= form_for(net_address) do |f| %>
  <% if net_address.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(net_address.errors.count, "error") %> prohibited this net_address from being saved:</h3>

      <ul>
      <% net_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'net_addresses/fields', :f => f %>

  <p class="actions">
    <%= f.submit %>
    <%= f.hidden_field :machine_id %>
  </p>
<% end %>
