<h1>Listing net_addresses</h1>

<table>
  <tr>
    <th>Machine</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @net_addresses.each do |net_address| %>
  <tr>
    <td><%= net_address.machine_id %></td>
    <td><%= net_address.address %></td>
    <td><%= link_to 'Show', net_address %></td>
    <td><%= link_to 'Edit', edit_net_address_path(net_address) %></td>
    <td><%= link_to 'Destroy', net_address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Net address', new_net_address_path %>
