<p id="notice"><%= notice %></p>

<p>
  <b>Machine:</b>
  <%= @net_address.machine_id %>
</p>

<p>
  <b>Address:</b>
  <%= @net_address.address %>
</p>


<%= link_to 'Edit', edit_net_address_path(@net_address) %> |
<%= link_to 'Back', net_addresses_path %>
