<%= form_for(machine) do |f| %>
  <% if machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
      <% machine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="fields">
    <p class="field">
      <%= f.label :name %>
      <span class="value">
        <%= f.text_field :name, :placeholder => 'something meaningful' %>
      <span class="value">
    </p>
  </section>
  
  <h3>Network Addresses</h3>
<%= f.fields_for(@machine.addresses) do |ff| %>
<%= render 'net_addresses/fields', :f => ff %>
<% end %>

  <h3>SSH Accounts</h3>
<%= f.fields_for(@machine.ssh_credentials) do |ff| %>
<%= render 'ssh_credentials/fields', :f => ff %>
<% end %>
  
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
