<%= form_for(machine) do |f| %>
  <% if machine.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(machine.errors.count, "error") %> prohibited this machine from being saved:</h3>

      <ul>
      <% machine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section class="fields">
    <p class="field">
      <%= f.label :name %>
      <span class="value">
        <%= f.text_field :name, :placeholder => 'something meaningful' %>
      </span>
    </p>
  </section>
  
  <fieldset>
    <legend>DNS / IP Address</legend>
<%= f.fields_for(:net_addresses) do |ff| %>
<%= render 'net_addresses/fields', :f => ff %>
<% end %>
  </fieldset>

  <fieldset>
    <legend>SSH Account</legend>
<%= f.fields_for(:ssh_credentials) do |ff| %>
<%= render 'ssh_credentials/fields', :f => ff %>
<% end %>
    </legend>
  </fieldset>
  
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
