<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @machine.name %>
</p>

<p>
  <b>Uid:</b>
  <%= @machine.uid %>
</p>


<%= link_to 'Edit', edit_machine_path(@machine) %> |
<%= link_to 'Back', machines_path %>
