<h2>Machine <%= @machine.name %></h2>

<p><%= link_to 'Edit', edit_machine_path(@machine) %></p>

<p>
  <b>Uid:</b>
  <%= @machine.uid %>
</p>

<h3>Network addresses</h3>
<ul>
  <% @machine.net_addresses.each do |address| %>
  <li><%= address.address %></li>
  <% end %>
</ul>

<h3>SSH accounts</h3>
<ul>
  <% @machine.ssh_credentials.each do |credential| %>
  <li><%= credential.username %></li>
  <% end %>
</ul>
