<nav>
  <ol>
    <li>
      <%= link_to 'Submenu', '#' %>
      <ol>
        <li><%= link_to 'Item 1', '#' %></li>
        <li><%= link_to 'Item 2', '#' %></li>
        <li><%= link_to 'Item 3', '#' %></li>
      </ol>
    </li>
    <li>
      <%= link_to 'Action', '#' %>
    </li>
    <li>
      <% if current_user %>
      <%= link_to current_user.email, '' %>
      <ol>
        <li><%= link_to 'Sign out', session_path, :method => :delete %></li>
        <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
      </ol>
      <% end %>
    </li>
  </ol>
</nav>
