<nav>
  <ol>
    <li>
      <%= link_to 'Machines', machines_path %>
      <ol>
        <li><%= link_to 'All Machines', machines_path %></li>
        <li><%= link_to '+ Add Machine', new_machine_path %></li>
      </ol>
    </li>
    <li>
      <%= link_to 'Jobs', '#' %>
    </li>
    <li>
      <% if current_user %>
      <%= link_to current_user.email, '' %>
      <ol>
        <li><%= link_to 'Sign out', session_path, :method => :delete %></li>
        <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
      </ol>
      <% end %>
    </li>
  </ol>
</nav>
