<!DOCTYPE html>
<html>
<head>
  <title>PwnpetWeb</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<%= yield %>

</body>
</html>
